* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-size: 18px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: black;
	padding: 40px;
}

.currency-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
}

.icon {
	vertical-align: sub;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
}

.currency-rate-edit {
	cursor: pointer;
}

.hidden {
	display: none;
}

.not-shown {
	visibility: hidden;
}

.currency-container__table {
	border-collapse: collapse;
	width: 100%;
}

.currency-container__table-wrapper {
	flex: 1;
}

.currency-container__table,
tr,
th,
td {
	border: 1px solid white;
}

th,
td {
	padding: 10px;
}

td {
	text-align: center;
	position: relative;
}

td input {
	color: black;
	margin-left: 10px;
	outline: none;
	border: 1px solid gray;
	box-shadow: none;
}

td input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

@media only screen and (max-width: 600px) {
	body {
		height: auto;
		padding: 40px 20px;
	}

	.currency-container {
		flex-direction: column-reverse;
	}

	.currency-container__table-wrapper,
	.currency-container__interaction {
		width: 100%;
	}
}

@media only screen and (max-width: 900px) {
	.icon {
		top: 5px;
		transform: translateY(0%);
	}
}
